<footer class="footer-container">
    <section class="social-networks-container">
        <div class="call-me">
            <p>Fale comigo:</p>
        </div>
        <div class="social-icons">
            <div class="instagram">
                <a href="https://www.instagram.com/j.sampaiof2/" target="_blank"><img src="images/instagram logo.svg" alt="Instagram" loading="lazy"></a>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com/josthersampaiofontes/" target="_blank"><img src="images/facebook logo.svg" alt="Facebook" loading="lazy"></a>
            </div>
            <div class="twitter">
                <a href="https://twitter.com/j_sampaiof" target="_blank"><img src="images/twitter logo.svg" alt="Twitter" loading="lazy"></a>
            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/josther-sampaio/" target="_blank"><img src="images/linkedin logo.svg" alt="Linkedin" loading="lazy"></a>
            </div>
            <div class="github">
                <a href="https://github.com/jsampaiof" target="_blank"><img src="images/github logo.svg" alt="Github" loading="lazy"></a>
            </div>
            <div class="whatsapp">
                <a href="https://bit.ly/whatsapp-project" target="_blank"><img src="images/whatsapp logo.svg" alt="WhatsApp" loading="lazy"></a>
            </div>
        </div>
    </section>
    <section class="description-container">
        <div class="description-footer">
            <p>Project developed by:</p>
        </div>
        <div class="signature">
            <p>Josther Sampaio Fontes</p>
        </div>
        <div class="copyright">
            <p>All Contents Copyright © 2022-2023 Josther Sampaio Fontes. All Rights Reserved</p>
        </div>
    </section>
</footer>