@import url("./Animation.css");

*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'Militta';
    src: url('../fonts/militta-font/Militta-BW8aG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Help';
    src: url('../fonts/help-alex-font/HelpAlex-MVPAx.ttf') format('truetype');
    src: url('../fonts/help-alex-font/HelpAlex-rg6v9.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --second-font: Militta, sans-serif;
    --third-font: Help, sans-serif;
    --primary-font-size: 1em;
    --primary-half-font-size: 1.5em;
    --second-font-size: 2em;
    --second-half-font-size: 2.5em;
    --third-font-size: 3em;
    --primary-color: #2B2D42;
    --secondary-color: #8D99AE;
    --third-color: #EDF2F4;
    --fourth-color: #EF233C;
    --fifth-color: #D90429;
}

body{
    position: relative;
    background-color: var(--third-color);
}

/* HEADER */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    font-family: var(--third-font);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.service-logo{
    display: contents;
}

.service-logo img{
    width: 60px;
    margin-right: 20px;
}

.service-name{
    color: var(--primary-color);
}

/* CONTAINER 1 */

.container1{
    padding: 20px;
    position: relative;
    /* DESIGN */
    background-color: var(--third-color);
}

.our-goal{
    margin: 15px;
    /* DESIGN */
    text-align: center;
    font-family: var(--third-font);
    font-size: var(--second-font-size);
    color: var(--primary-color);
}

.our-goal h1{
    margin-top: 40px;
    margin-bottom: 15px;
}

.our-goal p{
    margin-bottom: 40px;
}

.link-area{
    /* RESPONSIBILITY */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 470px;
    margin: auto;
    /* DESIGN */
    border: 1px solid #2B2D42;
    border-radius: 30px;
    background-color: #fff;
}

.link-area figure{
    display: contents;
}

#ytlink{
    width: 355px;
    /* DESIGN */
    border: unset;
    font-size: var(--primary-font-size);
    font-family: var(--third-font);
}

#ytlink:focus{
    outline: none;
}

#image-button{
    width: 50px;
}

.select-format{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    /* DESIGN */
    font-family: var(--third-font);
    color: var(--primary-color);
    font-size: 15px;
}

.select-format p{
    margin-right: 10px;
    /* DESIGN */
    font-size: var(--primary-half-font-size );
}

.select-format select{
    width: 80px;
    border-radius: 30px;
    text-align: center;
    /* DESIGN */
    font-size: var(--primary-font-size);
    font-family: var(--third-font);
    background-color: #fff;
}

.select-format select:focus{
    outline: none;
}

.man img, .woman img{
    position: absolute;
    bottom: 0;
    width: 300px;
}

.woman img{
    right: 0;
}

.man img{
    left: -70px;
}

/* CONTAINER 2 */

.container2{
    display: flex;
    justify-content: center;
    height:300px;
    background-color: var(--secondary-color);
}

.download:-webkit-any-link{
    text-decoration: none;
}

.download div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    padding: 8px;
    margin-top: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    font-family: var(--third-font);
    color: var(--primary-color);
    background-color: var(--third-color);
    font-size: var(--primary-half-font-size);
}

.download-icon{
    display: contents;
}

.download-icon img{
    width: 50px;
}

/*FOOTER*/

.footer-container{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* DESIGN */
    background-color: var(--third-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
}

.social-networks-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 8px;
    /* DESIGN */
    border-right: 1px dashed var(--primary-color);
    font-family: var(--third-font);
}

.call-me{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: var(--primary-half-font-size);
    color: var(--primary-color);
}

.social-icons{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.social-icons a{
    display:flex;
    justify-content: center;
}

.social-icons img{
    width: 30px;
}

.description-container{
    margin: auto;
    padding: 15px;
    /* DESIGN */
    text-align: center;
    font-family: var(--third-font);
    color: var(--primary-color);
}

.description-footer{
    margin-top: 10px;
    font-size: var(--primary-font-size);
}

.signature{
    margin-top: 5px;
    /* DESIGN */
    font-family: var(--secondary-font);
    font-size: var(--primary-font-size);
}

.copyright{
    padding-top: 5px;
    margin-bottom: 10px;
    /* DESIGN */
    font-size: var(--primary-font-size);
    font-style: italic;
    border-top: 1px solid;
}