<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/responsive.css">
    <script type="module" src="Scripts/LinkAnalization.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <figure class="service-logo">
            <img src="images/logo.webp" alt="logo">
        </figure>
        <div class="service-name">
            <h1>YouDown</h1>
        </div>
    </header>
    <main>
        <section class="container1">
            <div class="our-goal">
                <h1>Download your favorite videos 🎬</h1>
                <p>save everything that you love, easy peasy 😎</p>
            </div>
            <div class="link-area">
                <form>
                    <input id="ytlink" type="text" name="link" placeholder="https://www.youtube.com/watch?v=kzIpMCoCPNI">
                </form>
                <figure>
                    <img id="image-button" src="images/arrow.svg" alt="arrow">
                </figure>
            </div>
            <div class="select-format">
                <p>Select the quality:</p>
                <select name="formatQuality" id="options"></select>
            </div>
            <div class="stickers">
                <div class="man">
                    <img src="images/man.webp" alt="man">
                </div>
                <div class="woman">
                    <img src="images/woman.webp" alt="woman">
                </div>
            </div>
        </section>
        <section class="container2">
            <a class="download">
                <div>
                    <p>Download</p>
                    <figure class="download-icon">
                        <img id="download-button" src="images/save.svg" alt="save">
                    </figure>
                </div>
            </a>
        </section>
        <%- include("../layouts/footer.ejs") %>
    </main>    
</body>
</html>