<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="CSS/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <figure class="service-logo">
            <img src="images/logo.webp" alt="logo">
        </figure>
        <div class="service-name">
            <h1>YouDown</h1>
        </div>
    </header>
    <main>
        <section class="container1">
            <div class="our-goal">
                <h1>Download your favorite videos 🎬</h1>
                <p>save everything that you love, easy peasy 😎</p>
            </div>
            <div class="link-area">
                <form>
                    <input type="text" name="link" placeholder="https://www.youtube.com/watch?v=kzIpMCoCPNI">
                </form>
                <figure>
                    <img src="images/arrow.svg" alt="" srcset="">
                </figure>
            </div>
            <div class="select-format"></div>
        </section>
        <section class="container2"></section>
    </main>    
</body>
</html>